.square {
  display: inline-flex;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 15px;

  margin-left: 20px;
  
}
.car{
  background-color: #FD9498;
}
.products{
  background-color: #FFD8D0;
 
}
.mainexpenses{
  background-color: #FED057;
}
.selfcare{
background-color: #C5BAFF;
}
.childcare{
background-color: #6E78E8;
}
.householdproducts{
  background-color: #4A56E2;
}
.education{
background-color: #81E1FF;
}
.leisure{
  background-color: #24CCA7;
}
.otherexpenses{
  background-color: #00AD84;
}
.entertainment{
   background-color: #c42e10;
}