.wrapper {
  position: relative;
  box-sizing: content-box;
  height: 0px;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 0;
}

.container {
  box-sizing: content-box;
  position: relative;
  width: 100%;
  background-color: rgba(229, 241, 239, 1);
  border-radius: 50px;
  height: 2px;
  border: 2px solid #e5f1ef;
}

.barCompletedBad {
  position: absolute;
  overflow: hidden;
  box-sizing: content-box;
  top: -1.8px;
  left: -1px;
  width: 20%;
  height: 100%;
  border-radius: 50px;
  color: transparent;
  background-color: rgba(229, 241, 239, 1);
  border: 2px solid rgba(229, 241, 239, 1);
}

.barCompletedNotBad {
  position: absolute;
  overflow: hidden;
  box-sizing: content-box;
  top: -1.8px;
  left: -1px;
  width: 30%;
  height: 100%;
  border-radius: 50px;
  color: transparent;
  background-color: rgba(253, 148, 152, 1);
  border: 2px solid rgba(253, 148, 152, 1);
}

.barCompletedNormal {
  position: absolute;
  overflow: hidden;
  box-sizing: content-box;
  top: -1.8px;
  left: -1px;
  width: 50%;
  height: 100%;
  border-radius: 50px;
  color: transparent;
  background-color: rgba(254, 208, 87, 1);
  border: 2px solid rgba(254, 208, 87, 1);
}

.barCompletedWell {
  position: absolute;
  overflow: hidden;
  box-sizing: content-box;
  top: -1.8px;
  left: -1px;
  width: 70%;
  height: 100%;
  border-radius: 50px;
  color: transparent;
  background-color: rgba(36, 204, 167, 1);
  border: 2px solid rgba(36, 204, 167, 1);
}

.barCompletedVeryWell {
  position: absolute;
  overflow: hidden;
  box-sizing: content-box;
  top: -1.8px;
  left: -1px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  color: transparent;
  background-color: rgba(36, 204, 167, 1);
  border: 2px solid rgba(36, 204, 167, 1);
}

.label {
  display: none;
}
